<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <%- helmet.title.toString() %>
        <%- helmet.meta.toString() %>
        <meta name="robots" content="index, follow"/>
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="/manifest.json">
        <link type="image/x-icon" rel="shortcut icon" href="favicon-2.png">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css?1">
        <link rel="stylesheet" type="text/css" href="css/style.css?3">
        <link rel="stylesheet" type="text/css" href="css/responsive.css?2">
        <link rel="stylesheet" type="text/css" href="css/ReactToastify.min.css?3">
    </head>
    <body>
        <nav id="main-mobile-nav"></nav>
        <div id="root"><%- content %></div>
        <script>
            window.INITIAL_STATE = <%- initialState %>
        </script>
        
        <script src="main.bundle.js?3"></script>
        <script src="vendor.bundle.js?3"></script>
        
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js?1"></script>
    </body>
</html>