<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="description" content="exchange rates app with react redux server side rendering" itemprop="description"/>
        <meta name="keywords" content itemprop="tokopedia, legal film, react, redux, express, nodejs, server side rendering"/>
        <meta name="robots" content="index, follow"/>
        <title data-react-helmet="true">Legal Film</title>
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#f53d2d">
        <link type="image/x-icon" rel="shortcut icon" href="favicon-2.png">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css?1">
        <link rel="stylesheet" type="text/css" href="css/style.css?3">
        <link rel="stylesheet" type="text/css" href="css/responsive.css?2">
    </head>
        <body>
        <div id="root"><%- content %></div>
        <script>
            window.INITIAL_STATE = <%- initialState %>
        </script>
        
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js?1"></script>
        <script src="main.bundle.js?3"></script>
        <script src="vendor.bundle.js?3"></script>
    </body>
</html>